body{
    margin: 0;
}

header{
    background-color: blue;
    height: 5rem;
    align-items: center;
    display: flex;
}

#company-logo{
    color: white;
}

#search{
    margin-left: 20rem;
}

header nav{
    margin-left:auto;
}


footer{
    background-color: rgb(49, 141, 77);
    height: 5rem;
    display: flex;
}

#about{
    margin-left: 10rem;
}