{% extends "base.html" %}
{% load static %}

{% block title %}Dashboard | Better Life{% endblock title %}

{% block styles %} <link rel="stylesheet" href="{% static "dashboard/account.css" %}"> {% endblock styles %}

{% block contents %}

{% if request.user.is_vendor %}
<div class="store"><a href="{% url "vendor_dashboard" %}">My Store</a></div>
{% endif %}

<div class="user-detail">
    <h3>Welcome to your one shop experience {{user.username}}</h3>
</div>


<div class="details-table">
    <table>
        <tr>
            <td><a href="{% url "user_profile" %}">Profile</a></td>
            <td><a href="{% url "user_order" %}">My Order</a></td>
        </tr>
        <tr>
            <td><a href="{% url "my_address" %}">My Address</a></td>
            <td><a href="{% url "saved_product" %}">My Saved Items</a></td>
        </tr>
    </table>
</div>


{% if not request.user.is_vendor %}
<div class="join-vendor">
    <h3>Want to sell on Better buy, become a vendor today</h3>
    <a href="{% url "vendor_register" %}">Vendor</a>
</div>
{% endif %}

{% include "store/includes/recently_viewed.html" %}

<script src="{% static "dashboard/account.js" %}"></script>
{% endblock contents %}