{% extends "base.html" %}
{% load static %}

{% block title %} My Address {% endblock title %}
{% block styles %}<link rel="stylesheet" href="{% static "dashboard/my_address.css" %}">{% endblock styles %}


{% block contents %}
    <div class="saved-address">
        <h2>Your Delivery Addresses</h2>
        <a href="{% url "add_address"  %}" class="add_address">Add New Address</a>
        <br>
        <br>

        {% for address in request.user.address.all  %}
        <div class="my-address">
            <div class="update-address">
                <a href="">Delete</a>
                <a href="{% url "edit_address" address.id %}">Edit</a>
            </div>
            <br>
            <hr>
            <div class="address-details">
                <p><strong>Name:</strong> {{address.last_name}} {{address.first_name}}
                <p><strong>Location:</strong> {{address.city}}, {{address.state}}, {{address.country}}</p>
                <p><strong>Phone Number:</strong> {{address.phone_number}}</p>
            </div>
        </div>
        
        
        
        {% endfor %}
    </div>

    <div class="add-address">

    </div>
{% endblock contents %}