{% extends "base.html" %}
{% load static %}

{% block styles %} <link rel="stylesheet" href="{% static "account/login.css" %}"> {% endblock styles %}

{% block contents %}
<div id="login-area">
    <h3> Login to your account</h3>
    
    <hr>
    <br>

    <form action="" method="post" autocomplete="off">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{next}}">
        <div class="nf-error">
        {{form.non_field_errors}}
        </div>
        {% for form in form  %}
        <div class="form-control">
            {{form.label_tag}}
            {{form}}
            {{form.errors}}
        </div>
        {% endfor %}
        <br>
        <div id="button">
        <button type="submit">Login</button>
        </div>
    </form>

    <br>
    <hr>
    <br>
    <div id="other">
        <p>Dont have an account</p>
        <br>
        <a  href="{% url 'register' %}">Register </a>

    </div>
</div>

{% endblock %}