.card{
    border: 1px solid grey;
    margin: 1rem auto;
    width: 90%;
    height: 25rem;
}

.card-body .name{
    margin: 1rem 0;
}

.card-body p{
    margin: 1rem 0;
}

.btn-secondary,
.btn-info{
    position: relative;
    text-decoration: none;
    color: white;
    padding: .5rem;
    border-radius: 4px;
    bottom: 1rem;
}

.btn-secondary{
    background-color: #363783;
    left: 5rem;
}

.btn-info{
    background-color:#932;
    left: 10rem;
}